body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F2937;
}

.logo {
    
}

.top {
    display: flex;
    justify-content: flex-end;
}

.header-1 {
    display: flex;
    
}
.main-img {
    width: 300px;
    height:200px;
}